* {
  font-family: 'Noto Sans SC', sans-serif, 'KaTeX_Main', 'Times New Roman', serif;
}

.article-item,
.article-content,
.bbg-comment-area,
.page-content,
.tag-content {
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 16px;
  box-shadow: 0 1px 1px -2px rgb(0 0 0 / 60%),
    0 2px 1px 0 rgb(0 0 0 / 36%), 0 1px 2px 1px rgb(0 0 0 / 32%);
  opacity: 0.8;
  border-radius: 6px;
}

.article-content {
  padding: 30px 4%;
}

.copyright_hint {
  border-left-color: #5cb85c !important;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 1em;
  position: relative;
  border: 1px solid #eee;
  border-left-width: 5px;
  font-size: 110%;
}

ref {
  display: none;
}

info-hint,
warning-hint,
success-hint,
danger-hint {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  background-color: rgb(235, 234, 234);
}

.hint-heading {
  font-size: 110%;
}

info-hint .hint-heading {
  color: #0550ae;
}

warning-hint .hint-heading {
  color: #ae8105;
}

success-hint .hint-heading {
  color: #1b6e08;
}

danger-hint .hint-heading {
  color: #ae2105;
}

info-hint {
  border-left: #0550ae solid 2px;
}

warning-hint {
  border-left: #ae8105 solid 2px;
}

success-hint {
  border-left: #1b6e08 solid 2px;
}

danger-hint {
  border-left: #ae2105 solid 2px;
}

.article-content {
  word-break: break-all;
}

.articlebottomnav {
  background-color: white;
  box-shadow: 0 1px 1px -2px rgb(0 0 0 / 60%),
    0 2px 1px 0 rgb(0 0 0 / 36%), 0 1px 5px 0 rgb(0 0 0 / 32%);
  opacity: 0.8;
  border-radius: 6px;
}

.nav-item-active {
  border-bottom: 2px solid white;
}

.friend-card {
  box-shadow: 0 1px 1px -2px rgb(0 0 0 / 60%),
    0 2px 1px 0 rgb(0 0 0 / 36%), 0 1px 5px 0 rgb(0 0 0 / 32%);
  border-radius: 6px;
  font-size: 10px !important;
  width: 168px;
  padding: 0;
  display: inline-flex;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12);
  background: #fffefe;
  margin: 0;
  margin-bottom: 5px;
  margin-right: 5px;
  transition: box-shadow 0.2s ease;
}

.friend-card:hover {
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 60%), 0 2px 2px 0 rgb(0 0 0 / 36%), 0 1px 5px 0 rgb(0 0 0 / 32%);
}

.friend-card h5 {
  font-size: 1rem !important;
  text-align: center;
  ;
}

.friend-card a {
  text-decoration: none;
  font-weight: bold;
}

.ellipsis {
  display: none;
}

.friend-card-img {
  width: 100%;
}

.title_that_should_not_have_underline {
  text-decoration: none !important;
}

@media (max-width: 1050px) {
  #empty_friend_book_list {
    display: none;
  }
}

@media (max-width: 520px) {
  #article-bottom-bar {
    display: none;
  }
}

.article_tag {
  border-radius: 40px;
  color: white;
  border: none;
}

.article_tag::before {
  content: "#";
}

.article-item-sub,
.article-content-sub {
  color: #999;
}

.article-item-sub-dotted {
  border-bottom: 1px dashed #676161;
}

.small_empty_between_lines {
  margin-top: 6px;
}

.small_empty_inline {
  margin-left: 2px;
  display: inline-block;
}

.article-tag-underlined {
  text-decoration: 1px underline;
  text-underline-position: under;
  margin-left: 8px;
}

nav {
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%),
    0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  padding: 0 !important;
}

.nav-link {
  padding-top: 10px;
  padding-bottom: 10px;

}

.navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: bolder;
}


@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

table,
thead,
tr,
th,
td {
  border: 1px solid #ddd;
  padding-left: 15px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
}